.header {
  background: var(--color-grey-light-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 3rem 5rem 0;

  &__left {
    &__img {
      width: 10rem;
      img {
        width: 100%;
      }
    }
  }
  &__center {
    &__heading {
      text-align: center;
      font-size: 2.4rem;
      line-height: 3rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
    &__links {
      &__link {
        padding: .3rem 0;
        text-align: center;
        font-size: 1.2rem;
        a {
          color: var(--color-btn);
          text-decoration: none;
          &:visited,
          &:hover {
            color: var(--color-btn);
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .header {
    &__left {
      width: 100%;
      &__img {
        margin: 0 auto;
      }
    }
    &__center {
      margin-top: 1rem;
    }
  }
}
